.navbarcolor{
	color: #fff;
	font-weight: bold;
}
.bg-image
{
	background-image: url('../images/bg-project.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}